<nav class="breadcrumbs-container">
	<div class="nav-wrapper container">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<i class="material-icons before">home</i>HOME
			<% end %>
			<%= link_to '店舗一覧', admin_shops_path, class: "breadcrumb" %>
			<a class="breadcrumb active">店舗編集</a>
		</div>
	</div>
</nav>

<%= render 'layouts/error_messages', model: @shop %>

<div class="container">
	<h2 class="title">店舗編集</h2>
  <div class="card devise-card">
    <div class="form-wrap">
			<%= form_with model: @shop, local: true, url: {action: :update} do |f| %>
				<%= render partial: 'form', locals: {f: f, edit_flag: true} %>
			<% end %>
		</div>
  </div>
</div>
