<div class="col s12 m4">
	<div class="card hoverable animated fadeIn">
		<div class="card-image waves-effect waves-block waves-light shop">
			<%= link_to shop_path(shop.id), class: "waves-effect waves-light" do %>
				<%= image_tag shop_for(shop) %>
			<% end %>
			<div id="favorite-shop-<%= shop.id.to_s %>">
				<% if user_signed_in? %>
					<% if Favorite.liked_by(current_user.id, shop.id) %>
						<%= link_to '', shop_favorite_path(shop), method: :delete, remote: true, class: "favorited-btn" %>
					<% else %>
						<%= link_to '', shop_favorite_path(shop), method: :post, remote: true, class: "favorite-btn" %>
					<% end %>
				<% else %>
					<%= link_to '', shop_favorite_path(shop), method: :post, remote: true, class: "favorite-btn" %>
				<% end %>
			</div>
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4"><%= shop.name.truncate(19) %><i class="material-icons right">more_vert</i></span>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
			<div class="shop-detail">
				<p>
					<i class="tiny material-icons">location_on</i>
					住所
				</p>
				<p><%= shop.address %></p>
				<p>
					<i class="tiny material-icons">phone</i>
					電話番号
				</p>
				<p><%= shop.tel %></p>
				<p>
					<i class="tiny material-icons">access_time</i>
					営業時間
				</p>
				<%= shop.opentime %></p>
				<p>
					<i class="tiny material-icons">power</i>
					設備
				</p>
				<% if shop.outret? %>
					<div class="chip">
						<p>
							<i class="tiny material-icons">power</i>
							電源あり
						</p>
					</div>
				<% end %>
				<% if shop.wifi? %>
					<div class="chip">
						<p>
							<i class="tiny material-icons">wifi</i>
							Wi-Fiあり
						</p>
					</div>
				<% end %>
				<% if shop.smoking? %>
					<div class="chip">
						<p>
							<i class="material-icons">smoking_rooms</i>
							喫煙席あり
						</p>
					</div>
				<% end %>
				 <p>
				 	<i class="tiny material-icons">star_half</i>
					評価
				</p>
				<p class="star-rate" id="star-rate-<%= shop.id %>"></p>
				<p>
					<i class="tiny material-icons">question_answer</i>
					コメント
				</p>
				<% if has_new_comment?(shop.id) %>
					<p class="badge new"><%= Comment.number_of_comments(shop.id) %></p>
				<% else %>
					<p class="badge"><%= Comment.number_of_comments(shop.id) %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
  $(document).ready(function(){
		$('#star-rate-<%= shop.id %>').raty({
			size: 36,
			starOff: '/images/star_off.png',
			starOn: '/images/star_on.png',
			starHalf: '/images/star_half.png',
			score: '<%= shop.comments.average(:rate) %>',
			half: true,
			readOnly: true,
		});
	});
</script>
