<div class="row">
	<div class="col s12">
		<div class="card card-comment">
			<div class="card-content">
				<%= image_tag avatar_for(comment.user), class: "avatar-small" %><span id="star-rate-<%= comment.id %>"></span>
				<p class="card-title"><%= comment.user.name %></p>
				<p><%= comment.congestion.status_i18n %></p>
				<p><%= auto_link(simple_format(h(comment.comment), {}, sanitize: false, wrapper_tag: "div")) %></p>
				<p><small><%= comment.created_at.strftime("%Y/%-m/%-d %-H:%-M ") %></small></p>
				<div class="comment-menu">
					<a class='dropdown-trigger' href='#' data-target='sns-share'><i class="material-icons">share</i></a>
					<ul id='sns-share' class='dropdown-content'>
						<li>
							<%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@shop.name}", target: '_blank' do %>
								<i class="fab fa-twitter-square">twitter</i>
							<% end %>
						</li>
						<li>
							<%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@shop.name}", target: '_blank' do %>
								<i class="fab fa-facebook-square">facebook</i>
							<% end %>
						</li>
						<li>
							<%= link_to "http://line.me/R/msg/text/?#{request.url}&text=#{@shop.name}", target: '_blank' do %>
								<i class="fab fa-line">line</i>
							<% end %>
						</li>
					</ul>
					<% if correct_user?(current_user) %>
						<a class='dropdown-trigger' href='#' data-target='delete-comment'><i class="material-icons">delete</i></a>
						<ul id='delete-comment' class='dropdown-content'>
							<li>
								<%= link_to shop_comment_path(@shop.id, comment.id), method: :delete do %>
									コメントを削除します。よろしいですか？
								<% end %>
							</li>
						</ul>
					<% end %>
				</div>
				<div class="card-action follower">
					<div id="like-icon-comment-<%= comment.id.to_s %>">
						<% if did_you_like_it?(comment) %>
							<%= link_to 'いいねを取り下げる', shop_comment_like_path(@shop.id, comment.id, comment.liked_by(current_user)), method: :delete, remote: true, class: 'liked-btn hide-text' %>
							<% Comment.followed_by(comment).each do |follower| %>
								<%= image_tag avatar_for(follower), class: "avatar-x-small" %>
							<% end %>
						<% else %>
							<%= link_to 'いいねする', shop_comment_likes_path(@shop.id, comment.id), method: :post, remote: true, class: 'like-btn hide-text' %>
							<% Comment.followed_by(comment).each do |follower| %>
								<%= image_tag avatar_for(follower), class: "avatar-x-small" %>
							<% end %>
						<% end %>
					</div>
					<div id="like-text-comment-<%= comment.id.to_s %>">
						<%= render "comments/like_text", { likes: comment.likes } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#star-rate-<%= comment.id %>').raty({
		size: 36,
		starOff: '<%= asset_path('/images/star_off.png') %>',
		starOn: '<%= asset_path('/images/star_on.png') %>',
		starHalf: '<%= asset_path('/images/star_half.png') %>',
		score: '<%= comment.rate %>',
		half: true,
		readOnly: true
	});
</script>
