<div class="card card-comment animated fadeIn">
	<div class="card-content">
		<div class="comment-menu">
			<div id="like-icon-comment-<%= comment.id.to_s %>">
				<% if did_you_like_it?(comment) %>
					<%= link_to 'いいねを取り下げる', shop_comment_like_path(@shop.id, comment.id, comment.liked_by(current_user)), method: :delete, remote: true, class: 'liked-btn hide-text' %>
				<% else %>
					<%= link_to 'いいねする', shop_comment_likes_path(@shop.id, comment.id), method: :post, remote: true, class: 'like-btn hide-text' %>
				<% end %>
			</div>
			<ul id='sns-share' class='dropdown-content'>
				<li>
					<%= link_to "https://twitter.com/share?url=#{request.url}&text=#{comment.comment}%0a#{@shop.name}の口コミ - カフェどっと混む&hashtags=カフェどっと混む", target: '_blank' do %>
						<i class="fab fa-twitter-square">twitter</i>
					<% end %>
				</li>
				<li>
					<%= link_to "http://line.me/R/msg/text/?#{comment.comment}%0a#{@shop.name}の口コミ - カフェどっと混む%0a#{request.url}", target: '_blank' do %>
						<i class="fab fa-line">line</i>
					<% end %>
				</li>
			</ul>
		</div>
		<%= image_tag avatar_for(comment.user), class: "avatar-small" %><span id="star-rate-<%= comment.id %>"></span>
		<p class="comment-user-name card-title"><%= comment.user.name %></p>
		<% congestion = comment.congestion %>
		<% if congestion.present? %>
			<% if congestion.vacant? %>
				<div><span class="new badge blue congestion-status" data-badge-caption="<%= Congestion.statuses_i18n[:vacant] %>"></span></div>
			<% elsif congestion.usually? %>
				<div><span class="new badge grey congestion-status" data-badge-caption="<%= Congestion.statuses_i18n[:usually] %>"></span></div>
			<% elsif congestion.crowded? %>
				<div><span class="new badge red congestion-status" data-badge-caption="<%= Congestion.statuses_i18n[:crowded] %>"></span></div>
			<% end %>
		<% end %>
		<p><%= auto_link(simple_format(h(comment.comment), {}, sanitize: false, wrapper_tag: "div")) %></p>
		<p><small><%= comment.created_at.strftime("%Y/%-m/%-d %-H:%-M ") %></small></p>
		<ul class="card-action-buttons">
			<li><a class="dropdown-trigger btn-floating waves-effect waves-light tooltipped green accent-4", href='#' data-position="bottom", data-tooltip="コメントをSNSでシェアしてみましょう", data-target='sns-share'><i class="material-icons">share</i></a>
			</li>
			<% if commented_by(comment, current_user) %>
				<li>
					<%= link_to shop_comment_path(@shop.id, comment.id), method: :delete, class: 'btn-floating waves-effect waves-light pink', data: { confirm: "コメントを削除します。よろしいですか？" } do %>
						<i class="material-icons">delete</i>
					<% end %>
				</li>
			<% end %>
		</ul>
		<div class="card-action follower">
			<div id="like-text-comment-<%= comment.id.to_s %>">
				<%= render "comments/like_text", { likes: comment.likes, comment: comment } %>
			</div>
		</div>
	</div>
</div>

<script>
	$('#star-rate-<%= comment.id %>').raty({
		size: 36,
		starOff: '<%= asset_path('/images/star_off.png') %>',
		starOn: '<%= asset_path('/images/star_on.png') %>',
		starHalf: '<%= asset_path('/images/star_half.png') %>',
		score: '<%= comment.rate %>',
		half: true,
		readOnly: true
	});
</script>
