<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<%= image_tag avatar_for(comment.user), class: "avatar-small" %><span id="star-rate-<%= comment.id %>"></span>
				<p class="card-title"><%= comment.user.name %></p>
				<p><%= comment.congestion.status_i18n %></p>
				<p><%= auto_link(simple_format(h(comment.comment), {}, sanitize: false, wrapper_tag: "div")) %></p>
				<p><small><%= comment.created_at.strftime("%Y/%-m/%-d %-H:%-M ") %></small></p>
				<% if correct_user?(current_user) %>
					<%= link_to shop_comment_path(@shop.id, comment.id), method: :delete, data: { confirm: "コメントを削除します。よろしいですか？" }, class: "trash-btn" do %>
					<i class="material-icons">delete</i>
					<% end %>
				<% end %>
				<div class="card-action follower">
					<div id="like-icon-comment-<%= comment.id.to_s %>">
						<% if did_you_like_it?(comment) %>
							<%= link_to 'いいねを取り下げる', shop_comment_like_path(@shop.id, comment.id, comment.liked_by(current_user)), method: :delete, remote: true, class: 'liked-btn hide-text' %>
							<% Comment.followed_by(comment).each do |follower| %>
								<%= image_tag avatar_for(follower), class: "avatar-x-small" %>
							<% end %>
						<% else %>
							<%= link_to 'いいねする', shop_comment_likes_path(@shop.id, comment.id), method: :post, remote: true, class: 'like-btn hide-text' %>
							<% Comment.followed_by(comment).each do |follower| %>
								<%= image_tag avatar_for(follower), class: "avatar-x-small" %>
							<% end %>
						<% end %>
					</div>
					<div id="like-text-comment-<%= comment.id.to_s %>">
						<%= render "comments/like_text", { likes: comment.likes } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#star-rate-<%= comment.id %>').raty({
		size: 36,
		starOff: '<%= asset_path('/images/star_off.png') %>',
		starOn: '<%= asset_path('/images/star_on.png') %>',
		starHalf: '<%= asset_path('/images/star_half.png') %>',
		score: '<%= comment.rate %>',
		half: true,
		readOnly: true
	});
</script>
