<div id="comment-dialog" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4 class="title">コメント</h4>
			<% if user_signed_in? %>
				<div class="row">
					<%= form_with model: [shop, comment = Comment.new], id: "comment-form", class: 'col s12' do |f| %>
						<div id="error-message", class="error-message" >
						</div>
						<div class="row">
							<div class="col s12">
								<h5 class="title">お店は混んでましたか？</h5>
								<%= f.fields_for :congestion, comment.build_congestion do |congestion| %>
									<p>
										<%= congestion.radio_button :status, :vacant, id: 'input-vacant', class: "with-gap validate" %>
										<span><i class="far fa-laugh"></i><%= congestion.label Congestion.statuses_i18n[:vacant], for: 'input-vacant'%></span>
									</p>
									<p>
										<%= congestion.radio_button :status, :usually, id: 'input-usually', class: "with-gap validate", checked: true %>
										<span><i class="far fa-smile"></i><%= congestion.label Congestion.statuses_i18n[:usually], for: 'input-usually'%></span>
									</p>
									<p>
										<%= congestion.radio_button :status, :crowded, id: 'input-crowded', class: "with-gap validate" %>
										<span><i class="far fa-dizzy"></i><%= congestion.label Congestion.statuses_i18n[:crowded], for: 'input-crowded'%></span>
									</p>
									<%= congestion.hidden_field :user_id, value: current_user.id %>
									<%= congestion.hidden_field :shop_id, value: @shop.id %>
								<% end %>
							</div>
						</div>
						<div class="row">
							<div id="star" class="col s12">
								<h5 class="title">お店は満足できましたか？</h5>
								<%= f.hidden_field :rate, id: :review_star %>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<h5 class="title">お店の様子をみんなにシェアしよう！</h5>
								<div class="input-field">
									<i class="material-icons prefix">question_answer</i>
									<%= f.label :comment, class: 'active' %>
									<%= f.text_area :comment, id: 'input_comment', class: "materialize-textarea validate" %>
									<%= f.hidden_field :user_id, value: current_user.id %>
									<%= f.hidden_field :shop_id, value: @shop.id %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<%= button_tag '', class: "modal-action waves-effect btn", type: 'submit' do %>
									<i class="material-icons right">send</i>
									コメントする
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			<% else %>
				<%= image_tag '/images/logo-black.png', class: 'logo' %>
				<p>ログインが必要です。</p>
				<%= link_to login_path, class: 'btn waves-effect waves-light login-link' do %>
					ログイン
					<i class="fas fa-sign-in-alt"></i>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<script>
	$('#star').raty({
		size: 36,
		starOff: '<%= asset_path('/images/star_off.png') %>',
		starOn: '<%= asset_path('/images/star_on.png') %>',
		starHalf: '<%= asset_path('/images/star_half.png') %>',
		scoreName: 'comment[rate]',
		half: true,
	});
	$(document).ready(function(){
		$('.modal').modal({
			onCloseEnd: function(){
				if ($('#comment-form').length) {
					$('#comment-form')[0].reset();
					var rate = $('input[name="comment[rate]');
					rate.val(0.0);
					$('.error-message').hide();
				}
    	}
		});
	});
</script>
