<div id="comments" class="card">
	<div class="card-body">
		<%= image_tag comment.user.avatar, class: "profile-icon" if comment.user.avatar.attached? %>
		<div class="card-title"><%= comment.user.name %></div>
		<p class="card-text">
			<%= comment.status_i18n %>
		</p>
		<div id="star-rate-<%= comment.id %>"></div>
		<p class="card-text">
			<%= comment.comment %>
		</p>
		<p class="card-text"><small class="text-muted"><%= comment.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分 ") %></small>
		</p>
		<%= link_to "", shop_comment_path(@shop.id, comment.id), method: :delete, data: { confirm: "コメント「#{comment.comment}」を削除します。よろしいですか？" }, class: "delete-icon" %>
		<hr>
		<div id="like-icon-comment-<%= comment.id.to_s %>">
			<% if user_signed_in? && comment.liked_by(current_user).present? %>
			<%= link_to 'いいねを取り消す', shop_comment_like_path(@shop.id, comment.id, comment.liked_by(current_user)), method: :delete, remote: true, class: "loved hide-text" %>
			<% else %>
			<%= link_to 'いいね', shop_comment_likes_path(@shop.id, comment.id), method: :post, remote: true, class: "love hide-text" %>
			<% end %>
		</div>
		<div id="like-text-comment-<%= comment.id.to_s %>">
			<%= render "comments/like_text", { likes: comment.likes } %>
		</div>
	</div>
</div>

<script>
	$('#star-rate-<%= comment.id %>').raty({
		size: 36,
		starOff: '<%= asset_path('star_off.png') %>',
		starOn: '<%= asset_path('star_on.png') %>',
		starHalf: '<%= asset_path('star_half.png') %>',
		score: '<%= comment.rate %>',
		half: true,
		readOnly: true
	});
</script>
