<%= form_with model: @shop, local: true do |f| %>
	<%= render 'layouts/error_messages', model: f.object %>
	<div class="form-group">
		<%= f.text_field :name, autofocus: true, placeholder: "店舗名", class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.text_field :address, autofocus: true, placeholder: "住所", class: "form-control" %>
	</div>

	<div class="form-group file-upload-wrapper">
		<%= f.file_field :image, autocomplete: "true", class: "form-control-file file-upload" %>
	</div>

	<div class="form-group">
		<%= f.text_field :url, autocomplete: "true", placeholder: "お店のURL", class: "form-control" %>
	</div>

	<div class="actions">
		<%= f.submit "登録する", class: "btn btn-primary w-100" %>
	</div>
<% end %>
