<div class="container">
  <h2 class="title black-text">COMMENT</h2>
	<p class="description">新着コメントです。</p>
	<p class="description">もしかすると耳寄りな情報があるかも...</p>
  <div class="swiper-container">
    <div class="swiper-wrapper recently-comments">
      <% Comment.includes(:shop).order(created_at: :desc).limit(5).each do |recently| %>
        <div class="swiper-slide">
          <div class="card hoverable recently-comment">
            <div class="card-image">
              <%= link_to shop_path(recently.shop.id), class: "waves-effect waves-light" do %>
                <%= image_tag shop_for(recently.shop), class: 'recently-comment-image' %>
                <span class="card-title"><%= recently.shop.name %></span>
              <% end %>
            </div>
            <div class="card-content">
							<small class="ago"><%= time_ago_in_words(recently.created_at)+"前" %></small>
              <p class="short-comment">
								<%= image_tag avatar_for(recently.user), class: 'avatar-x-small user-image' %>
								<p><% congestion = recently.congestion %></p>
								<% if congestion.vacant? %>
									<p class="green-text"><i class="far fa-laugh"><%= Congestion.statuses_i18n[:vacant] %></i></p>
								<% elsif congestion.usually? %>
									<p><i class="far fa-smile"><%= Congestion.statuses_i18n[:usually] %></i></p>
								<% elsif congestion.crowded? %>
									<p class="red-text"><i class="far fa-dizzy"><%= Congestion.statuses_i18n[:crowded] %></i></p>
								<% end %>
								<span><%= recently.comment.truncate(10) %></span>
							</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
