<div class="container">
	<h2 class="title">MENU</h2>
	<p class="description">お気に入りのお店を見つけてください</p>
	<div class="row">
		<div class="search-menu">
			<div class="col s6 m3">
				<div class="card hoverable menu">
					<div class="card-image">
						<%= link_to search_vacant_path, class: "waves-effect waves-light" do %>
							<%= image_tag '/images/search/vacant.jpg', class: 'menu-image' %>
						<% end %>
					</div>
				</div>
				<p class="center-align white-text">今空いているお店</p>
			</div>
			<div class="col s6 m3">
				<div class="card hoverable menu">
					<div class="card-image">
						<%= link_to '', class: "waves-effect waves-light location-search", onclick: 'findNearbyShops();return false;' do %>
							<%= image_tag '/images/search/location.jpg', class: 'menu-image' %>
						<% end %>
					</div>
				</div>
				<p class="center-align white-text">近くのお店</p>
			</div>
			<div class="col s6 m3">
				<div class="card hoverable menu">
					<div class="card-image">
						<%= link_to search_outret_path, class: "waves-effect waves-light" do %>
							<%= image_tag '/images/search/outret.jpg', class: 'menu-image' %>
						<% end %>
					</div>
				</div>
				<p class="center-align white-text">電源があるお店</p>
			</div>
			<div class="col s6 m3">
				<div class="card hoverable menu">
					<div class="card-image">
						<%= link_to search_wifi_path, class: "waves-effect waves-light" do %>
							<%= image_tag '/images/search/wifi.jpg', class: 'menu-image' %>
						<% end %>
					</div>
				</div>
				<p class="center-align white-text">Wi-Fiがあるお店</p>
			</div>
		</div>
	</div>
</div>

<script>
	function findNearbyShops() {
		if (navigator.geolocation) {
			console.log('Geolocation is supported!');
		}
		else {
			console.log('Geolocation is not supported for this Browser/OS.');
		}

		var startPos;
		var geoOptions = {
			enableHighAccuracy: true
		}

		var geoSuccess = function(position) {
			startPos = position;
			position.coords.latitude
			position.coords.longitude
			window.location.href = "/search/location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
		};
		var geoError = function(error) {
			console.log('Error occurred. Error code: ' + error.code);
			switch (error.code) {
				case 0:
					message = '予期せぬエラーが発生しました。'
				case 1:
					message = '位置情報の提供を許可してください。'
				case 2:
					message = '位置情報の取得に失敗しました。'
				case 3:
					message = 'タイムアウトしました。'
				default:
					Alert.set('warning', message)
			}
		};

		navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
	};
</script>
