<div id="search-search_result">
	<div class="container">
		<h2 class="title">検索結果</h2>
		<div class="row">
			<div class="pagination center-align">
				<%= paginate @shops, remote: true %>
			</div>
		</div>
		<div class="row">
			<% if @shops.present? %>
				<div>
					<% @shops.each do |shop| %>
						<%= render partial: "shops/shop", locals: {shop: shop} %>
					<% end %>
				</div>
			<% else %>
				<div class="error-page">
					<div class="card-image">
						<%= link_to root_path do %>
							<%= image_tag '/images/no_records_found.png' %>
							<span class="error-title">お探しのお店は見つかりませんでした</span>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
			<div class="pagination center-align">
				<%= paginate @shops, remote: true %>
			</div>
		</div>
	</div>
</div>
