<div class="container">
	<h3>Menu</h3>
	<div class="row">
		<div class="col s12 m3">
			<div class="card hoverable shop">
				<div class="card-image">
					<%= link_to search_prefecture_path, class: "waves-effect waves-light" do %>
						<%= image_tag '/images/shops_many_comments.png' %>
						<span class="card-title">東京都</span>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card hoverable shop">
				<div class="card-image">
					<%= link_to search_outret_path, class: "waves-effect waves-light" do %>
						<%= image_tag '/images/shops_many_comments.png' %>
						<span class="card-title">電源あり</span>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card hoverable shop">
				<div class="card-image">
					<%= link_to search_wifi_path, class: "waves-effect waves-light" do %>
						<%= image_tag '/images/shops_many_comments.png' %>
						<span class="card-title">Wi-Fiあり</span>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card hoverable shop">
				<div class="card-image">
					<%= link_to search_smoking_path, class: "waves-effect waves-light" do %>
						<%= image_tag '/images/shops_many_comments.png' %>
						<span class="card-title">喫煙席あり</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
