<div class="card shop">
	<%= link_to shop_path(shop.id) do %>
	<%= lazy_image_tag url_for(shop.image), class: 'card-img-top shop-image' if shop.image.attached? %>
	<div class="card-body shops-description">
		<h5 class="card-title font-weight-bold"><%= shop.name.truncate(20, omission: '...') %></h5>
		<div>
			<p class="shop-status"><i class="far fa-dizzy" data-toggle="tooltip" data-placement="top"
					title="<%= :混んでいた %>"></i>&nbsp<%= shop.number_of_people_saying_crowded(shop) %>人</p>
			<p class="shop-status"><i class="far fa-smile" data-toggle="tooltip" data-placement="top"
					title="普通だった"></i>&nbsp<%= shop.number_of_people_saying_usually(shop) %>人</p>
			<p class="shop-status"><i class="far fa-laugh" data-toggle="tooltip" data-placement="top"
					title="空いていた"></i>&nbsp<%= shop.number_of_people_saying_vacant(shop) %>人</p>
		</div>
		<div>
			<p class="star-rate" id="star-rate-<%= shop.id %>"></p>&nbsp<%= shop.rate_average %>
			<i class="far fa-comments"></i>&nbsp<%= shop.comments.size %>件
		</div>
		<% if current_user&.admin? %>
			<%= link_to '', shop_path(shop.id), method: :delete, data: { confirm: "「#{shop.name}」を削除します。よろしいですか？" }, class: "delete-btn" %>
		<% end %>
	</div>
	<% end %>
</div>

<script>
	$("img.lazy").lazyload();
	$('[data-toggle="tooltip"]').tooltip();
	$('#star-rate-<%= shop.id %>').raty({
		size: 36,
		starOff: '<%= asset_path('star_off.png') %>',
		starOn: '<%= asset_path('star_on.png') %>',
		starHalf: '<%= asset_path('star_half.png') %>',
		score: '<%= shop.comments.average(:rate) %>',
		half: true,
		readOnly: true
	});
</script>
