<div class="col s12 m4">
  <div class="card hoverable shop">
    <div class="card-image">
      <%= link_to shop_path(shop.id), class: "waves-effect waves-light" do %>
        <%= image_tag shop_for(shop), class: 'shop-image' %>
        <span class="card-title"><%= shop.name  %></span>
      <% end %>
      <div id="favorite-shop-<%= shop.id.to_s %>">
        <% if user_signed_in? %>
          <% if Favorite.liked_by(current_user.id, shop.id) %>
            <%= link_to '', shop_favorite_path(shop), method: :delete, remote: true, class: "favorited-btn" %>
          <% else %>
            <%= link_to '', shop_favorite_path(shop), method: :post, remote: true, class: "favorite-btn" %>
          <% end %>
        <% else %>
          <%= link_to '', shop_favorite_path(shop), method: :post, remote: true, class: "favorite-btn" %>
        <% end %>
      </div>
      <div class="congestion-status white-text">
        <% congestion = get_congestion(shop.id) %>
        <% if congestion.present? %>
          <% if congestion.vacant? %>
            <span class="new badge blue" data-badge-caption="<%= Congestion.statuses_i18n[:vacant] %>"></span>
          <% end %>
        <% end %>
      </div>
      <div class="favorite-person">
        <% findUser(shop.id).each do |user| %>
          <%= image_tag avatar_for(user), class: 'avatar-x-small' %>
        <% end %>
      </div>
      <div class="number-of-comments">
        <p class="white-text">
          <i class="material-icons">question_answer</i>
          <%= Comment.number_of_comments(shop.id) %>
          <% if has_new_comment?(shop.id) %>
            <span class="badge new"></span>
          <% end %>
          <p>
          </div>
          <div>
            <p class="star-rate" id="star-rate-<%= shop.id %>"></p>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
      		$('#star-rate-<%= shop.id %>').raty({
      			size: 36,
      			starOff: '/images/star_off.png',
      			starOn: '/images/star_on.png',
      			starHalf: '/images/star_half.png',
      			score: '<%= shop.comments.average(:rate) %>',
      			half: true,
      			readOnly: true,
      		});
      	});
    </script>
