<h1>店一覧</h1>

<%= search_form_for @q, class: 'mb-5' do |f| %>
	<div class="form-group row">
		<%= f.label :name_cont, '店名', class: "col-sm-2 col-form-label" %>
		<div class="col-sm-10">
			<%= f.search_field :name_cont, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.submit class: "btn btn-outline-primary" %>
	</div>
<% end %>

<%= link_to '新規登録', new_shop_path, class: 'btn btn-primary' %>

<div class="mb-3">
</div>

<table class="table table-hover">
	<thead class="thead-default">
		<tr>
			<th><%= sort_link(@q, :name, [:name, "created_at desc"]) %></th>
			<th><%= Comment.human_attribute_name(:rate) %></th>
			<th><%= Shop.human_attribute_name(:created_at) %></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
  <tbody>
		<% @shops.each do |shop| %>
			<tr>
				<td><%= link_to shop.name, shop_path(shop.id) %></td>
				<th>
					<% if (rate = shop.comments.average(:rate).to_f.round(1)) >= 4.0 then %>
						<i class="far fa-dizzy"></i>
						<% elsif rate >= 3.0 then %>
							<i class="far fa-surprise"></i>
						<% elsif rate >= 2.0 then %>
							<i class="far fa-laugh"></i>
						<% elsif rate >= 1.0 then %>
							<i class="far fa-smile"></i>
						<% else %>
							<i class="far fa-laugh-squint"></i>
					 <% end %>
				</th>
				<td><%= shop.created_at %></td>
				<td><%= link_to '編集', edit_shop_path(shop.id), class: "btn btn-primary mr-3" %></td>
				<td><%= link_to '削除', shop_path(shop.id), method: :delete, data: { confirm: "店「#{shop.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %></td>
			</tr>
		<% end %>
  </tbody>
</table>
