<section id="top">
	<div class="search-container overlay">
		<%= search_form_for @q do |f| %>
		<div class="form-group search-input center mw">
			<div>
				<div class="row">
					<div class="col-sm-6 col-md-10">
						<%= f.search_field :address_cont, id: 'search-text', class: "form-control", placeholder: 'お店の名前を入力してください' %>
					</div>
					<div class="col-sm-6 col-md-2">
						<%= button_tag type: 'submit', class: 'btn btn-primary search-btn' do %>
							<i class="fa fa-search"></i>
							検索
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</section>

<!--メニュー-->
<%= render partial: "menu" %>

<hr>

<!--今空いているお店-->
<%= render partial: "now_available_shops" %>

<hr>

<div class="center mw">
	<!--pagination-->
	<div class="pagination mt-3">
		<%= paginate @shops %>
	</div>
	<div class="row">
		<!--検索結果-->
		<div class="search-results mr-2 col-sm-12 col-md-9">
			<% if @shops.present? %>
				<div class="card-columns mt-3">
					<% @shops.each do |shop| %>
					<%= render partial: "shop", locals: {shop: shop} %>
					<% end %>
				</div>
			<% else %>
				<div>
					<h3>お探しのお店は見つかりませんでした</h3>
					<%= image_tag '/no_records_found.png', class: "w-100" %>
				</div>
			<% end %>
		</div>
		<!--人気のお店-->
		<div class="popular-shops mt-3 col-sm-12 col-md-3">
			<aside>
			</aside>
		</div>
	</div>
</div>

<%# ページトップへ %>
<div id="page_top"><a href="#top"></a></div>

<script>
	$(function () {
		$('.shops-link').addClass('active')
	})
</script>
