<section id="top">
	<div class="search-container overlay">
		<%= search_form_for @q do |f| %>
		<div class="form-group search-input">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-8">
						<%= f.search_field :address_cont, id: 'search-text', class: "form-control", placeholder: 'お店の名前を入力してください' %>
					</div>
					<div class="col-sm-6 col-md-4">
						<%= button_tag type: 'submit', class: 'btn btn-primary search-btn' do %>
							<i class="fa fa-search"></i>
							検索
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</section>

<!--メニュー-->
<%= render partial: "menu" %>

<hr>

<!--今空いているお店-->
<%= render partial: "now_available_shops" %>

<hr>

<div class="container main">
	<!--pagination-->
	<div class="container pagination mt-3">
		<%= paginate @shops %>
	</div>
	<div class="row">
		<!--検索結果-->
		<div class="search-results mr-2 col-sm-12 col-md-9">
			<div class="card-columns mt-3">
				<% @shops.each do |shop| %>
				<%= render partial: "shop", locals: {shop: shop} %>
				<% end %>
			</div>
		</div>
		<!--人気のお店-->
		<div class="popular-shops mt-3 col-sm-12 col-md-3">
			<aside>
			</aside>
		</div>
	</div>
</div>

<%# ページトップへ %>
<div id="page_top"><a href="#top"></a></div>

<script>
	$(function () {
		$('#shops-link').addClass('active')
	})
</script>
