<%= search_form_for @q, class: 'mb-5' do |f| %>
	<div class="form-group row">
		<%= f.label :name_cont, '店名', class: "col-sm-2 col-form-label" %>
		<div class="col-sm-10">
			<%= f.search_field :name_cont, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.submit class: "btn btn-outline-primary" %>
	</div>
<% end %>

<%= link_to '新規登録', new_shop_path, class: 'btn btn-primary' %>

<div class="mb-3">
</div>

<div class="card-deck">
	<div class="row">
		<% @shops.each do |shop| %>
			<div class="col-sm-6 col-md-4">
				<div class="card mb-3">
					<%= link_to shop_path(shop.id) do %>
						<%= image_tag shop.image, class: 'card-img-top', width: "100%", height: "180" if shop.image.attached? %>
					<% end %>
					<div class="card-body">
						<h5 class="card-title"><%= shop.name.truncate(20, omission: '...') %></h5>
						<p class="card-text">
							<% if (rate = shop.comments.average(:rate).to_f.round(1)) >= 2.0 then %>
								<p style="color: #BE4BDB"><i class="far fa-dizzy"></i>混んでいる</p>
							<% elsif rate >= 1.0 then %>
								<p style="color: #82c91e"><i class="far fa-smile"></i>普通</p>
							<% else %>
								<p style="color: #F783AC"><i class="far fa-laugh"></i>空いている</p>
							<% end %>
						</p>
						<p class="card-text"><small class="text-muted"><%= shop.updated_at.strftime("%Y年%-m月%-d日 更新") %></small></p>
						<% if current_user&.admin? %>
							<%= link_to '編集', edit_shop_path(shop.id), class: "btn btn-primary mr-3" %>
							<%= link_to '削除', shop_path(shop.id), method: :delete, data: { confirm: "「#{shop.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
</div>
