<div class="shops-wrap">
	<div class="search-container">
		<%= search_form_for @q do |f| %>
		<div class="form-group row">
			<div class="col-md-10">
				<%= f.search_field :address_cont, class: "form-control search-input", placeholder: 'お店の名前または住所を入力してください' %>
				<button class="search-icon"><i class="fa fa-search"></i></button>
			</div>
			<div class="col-md-2">
				<%= f.submit class: "btn search-btn" %>
				<div>
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="mt-3">
		<%= paginate @shops %>
		<%= page_entries_info @shops, entry_name: '店舗' %>
	</div>

	<div class="card-columns mt-3">
		<% @shops.each do |shop| %>
		<%= render partial: "shop", locals: {shop: shop} %>
		<% end %>
	</div>
</div>
