<nav>
	<div class="nav-wrapper">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<span><i class="fas fa-home"></i>HOME</span>
			<% end %>
			<a class="breadcrumb active"><%= @shop.name %></a>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col l12">
			<div class="col l8 s12">
				<div class="row">
					<div>
						<h2><%= @shop.name %></h2>
						<div class="shop">
							<%= image_tag shop_for(@shop), class: 'materialboxed animated fadeIn' %>
							<div id="favorite-shop-<%= @shop.id.to_s %>">
								<% if user_signed_in? %>
									<% if Favorite.liked_by(current_user.id, @shop.id) %>
										<%= link_to '', shop_favorite_path(@shop), method: :delete, remote: true, class: "favorited-btn" %>
									<% else %>
										<%= link_to '', shop_favorite_path(@shop), method: :post, remote: true, class: "favorite-btn" %>
									<% end %>
								<% else %>
									<%= link_to '', shop_favorite_path(@shop), method: :post, remote: true, class: "favorite-btn" %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="row">
						<table>
							<tr>
								<th>お店の設備</th>
								<td>
									<% if @shop.outret? %>
										<div class="chip">
											<i class="material-icons">power</i>
											電源あり
										</div>
									<% end %>
									<% if @shop.wifi? %>
										<div class="chip">
											<i class="material-icons">wifi</i>
											Wi-Fiあり
										</div>
									<% end %>
									<% if @shop.smoking? %>
										<div class="chip">
											<i class="material-icons">smoking_rooms</i>
											喫煙席あり
										</div>
									<% end %>
								</td>
							</tr>
							<tr>
								<th>混雑状況</th>
								<td>
									<% congestion = get_congestion(@shop.id) %>
									<% if congestion.present? %>
										<% if congestion.vacant? %>
											<p class="animated pulse"><i class="far fa-laugh"><%= Congestion.statuses_i18n[:vacant] %></i></p>
										<% elsif congestion.usually? %>
											<p><i class="far fa-smile"><%= Congestion.statuses_i18n[:usually] %></i></p>
										<% elsif congestion.crowded? %>
											<p><i class="far fa-dizzy"><%= Congestion.statuses_i18n[:crowded] %></i></p>
										<% end %>
									<% else %>
										<p><i class="far fa-smile"><%= Congestion.statuses_i18n[:usually] %></i></p>
									<% end %>
								</td>
							</tr>
							<tr>
								<th>評価</th>
								<td>
									<i class="star-rate" id="star-rate-<%= @shop.id %>"></i>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card-panel teal white-text detail">
					<h6>お店の情報</h6>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-map-marker-alt">住所</i></span>
					<span><%= @shop.address %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-store-alt">おすすめ</i></span>
					<span><%= @shop.pr_short %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="far fa-clock">営業時間</i></span>
					<span><%= @shop.opentime %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-map-marked-alt">地図</i></span>
					<%= render partial: "map" %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l12 center-align">
			<%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@shop.name}", target: '_blank', class: "btn-social-square btn-social-square--twitter" do %>
 				<i class="fab fa-twitter"></i>
			<% end %>
			<%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@shop.name}", target: '_blank', class: "btn-social-square btn-social-square--facebook" do %>
				<i class="fab fa-facebook-f"></i>
			<% end %>
			<%= link_to "http://line.me/R/msg/text/?#{request.url}&text=#{@shop.name}", target: '_blank', class: "btn-social-square btn-social-square--line" do %>
				<i class="fab fa-line"></i>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col l12">
			<%= render partial: "comments/form", locals: {shop: @shop} %>
			<h4>コメント（<%= @shop.comments.size %>件）</h4>
			<%= render 'comments/comments' %>
		</div>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large cyan waves-effect waves-light pulse modal-trigger" href="#comment-dialog">
		<i class="large material-icons">mode_edit</i>
	</a>
</div>

<script>
	$(document).ready(function(){
		$('.materialboxed').materialbox();
		$('#star-rate-<%= @shop.id %>').raty({
			size: 36,
			starOff: '/images/star_off.png',
			starOn: '/images/star_on.png',
			starHalf: '/images/star_half.png',
			score: '<%= @shop.comments.average(:rate) %>',
			half: true,
			readOnly: true,
		});
	});
	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
	});
</script>
