<div class="container">
	<div class="row">
		<div class="col l12">
			<div class="col l8 s12">
				<div class="shop">
					<h2><%= @shop.name %></h2>
					<%= image_tag shop_for(@shop) %>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card-panel teal white-text">
					<span class="detail-title"><i class="fas fa-map-marker-alt"></i>住所</span>
					<span><%= @shop.address %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-globe"></i></i>URL</span>
					<span><%= link_to 'お店のサイト', @shop.url, target: "_blank" %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-map-marked-alt"></i>地図</span>
					<%= render partial: "map" %>
					<div class="divider"></div>
					<%= render partial: "sns" %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l12">
			<%= render partial: "comments/form", locals: {shop: @shop} %>
			<h4>コメント（<%= @shop.comments.size %>件）</h4>
			<% @shop.comments.sort_by{|c| c[:created_at]}.reverse!.each do |comment| %>
				<%= render partial: "comments/comment", :locals => { comment: comment } %>
			<% end %>
		</div>
	</div>
</div>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large cyan waves-effect waves-light pulse modal-trigger" href="#comment-dialog">
		<i class="large material-icons">mode_edit</i>
	</a>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
	});
</script>
