<% breadcrumb :show_shop, @shop %>
<%= render "layouts/breadcrumbs" %>

<div id="shop" class="jumbotron"
	style="background-image: url('<%= rails_blob_url(@shop.image) if @shop.image.attached? %>'); background-size: cover;">
	<div class="shop-content">
		<h1 id="shop-name"><%= @shop.name %></h1>
		<div id="shop-address" class="mb-2">
			<i class="fas fa-map-marker-alt"></i>
			<address><%= @shop.address %></address>
		</div>
		<div id="shop-search" class="mb-2">
			<i class="fas fa-map-marked-alt"></i>
			<a data-toggle="modal" data-target="#modalWindow">地図を確認する</a>
			<%= render partial: "map" %>
		</div>
		<div id="shop-url" class="mb-2">
			<i class="fas fa-globe-asia"></i>
			<%= link_to 'お店のサイトを確認する', @shop.url, target: "_blank" %>
		</div>
	</div>
</div>

<!-- SNS Share -->
<div>
	<%= render partial: "sns" %>
</div>

<%= render partial: "comments/form", locals: {shop: @shop} %>

<h5>コメント（<%= @shop.comments.size %>件）</h5>

<% @shop.comments.each do |comment| %>
<%= render partial: "comments", :locals => { comment: comment } %>
<% end %>

<div>
	<a type="button" class="btn-pen" data-toggle="modal" data-target="#exampleModal">
		<span>
		<i class="fas fa-pen"></i><br/>
		コメントする
		</span>
	</a>
</div>
