<% if current_user&.admin? %>
	<%= link_to '編集', edit_shop_path, class: 'btn btn-primary mr-3' %>
	<%= link_to '削除', shop_path(@shop.id), method: :delete, data: { confirm: "店「#{@shop.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
<% end %>

<div id="shop" class="jumbotron" style="background-image: url('<%= rails_blob_url(@shop.image) if @shop.image.attached? %>'); background-size: cover;" >
	<div class="shop-content">
		<h1 id="shop-name"><%= @shop.name %></h1>
		<div i="shop-status">
			<% if (status = @shop.comments.average(:status).to_f.round(1)) >= 2.0 then %>
				<p style="color: #BE4BDB"><i class="far fa-dizzy"></i><%= :crowded %></p>
			<% elsif status >= 1.0 then %>
				<p style="color: #82c91e"><i class="far fa-smile"></i><%= :usually %></p>
			<% else %>
				<p style="color: #F783AC"><i class="far fa-laugh"></i><%= :vacant %></p>
			<% end %>
		</div>
		<div id="shop-address" class="mb-2">
			<i class="fas fa-map-marker-alt"></i>
			<address><%= @shop.address %></address>
		</div>
		<div id="shop-search" class="mb-2">
			<i class="fas fa-map-marked-alt"></i>
			<a data-toggle="modal" data-target="#modalWindow">地図を確認する</a>
			<%= render partial: "map" %>
		</div>
		<div id="shop-url" class="mb-2">
			<i class="fas fa-globe-asia"></i>
			<%= link_to 'お店のサイトを確認する', @shop.url, target: "_blank" %>
		</div>
	</div>
</div>

<!-- SNS Share -->
<div class="float-right">
	<%= render partial: "sns" %>
</div>

<%= render partial: "comments/form", locals: {shop: @shop} %>

<%= render partial: "comments" %>
