<% provide :title, @shop.name %>
<% provide :og_url, url_for(only_path: false) %>
<% provide :og_title, @shop.name %>
<% provide :og_description, @shop.pr_short %>
<% provide :og_image, URI.join(root_url(only_path: false), url_for(shop_for(@shop))) %>
<nav class="breadcrumbs-container">
	<div class="nav-wrapper container">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<i class="material-icons before">home</i>HOME
			<% end %>
			<a class="breadcrumb active"><%= @shop.name %></a>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col l12">
			<div class="col l8 s12">
				<div class="row">
					<div>
						<h2 class="title"><%= @shop.name %></h2>
						<div class="shop">
							<%= image_tag shop_for(@shop), class: 'materialboxed animated fadeIn' %>
							<div id="favorite-shop-<%= @shop.id.to_s %>">
								<% if user_signed_in? %>
									<% if Favorite.liked_by(current_user.id, @shop.id) %>
										<%= link_to '', shop_favorite_path(@shop), method: :delete, remote: true, class: "favorited-btn" %>
									<% else %>
										<%= link_to '', shop_favorite_path(@shop), method: :post, remote: true, class: "favorite-btn" %>
									<% end %>
								<% else %>
									<%= link_to '', shop_favorite_path(@shop), method: :post, remote: true, class: "favorite-btn" %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="highlight centered">
							<tr>
								<th>お店の設備</th>
								<td>
									<% if @shop.outret? %>
										<div class="chip">
											<i class="tiny material-icons">power</i>
											電源あり
										</div>
									<% end %>
									<% if @shop.wifi? %>
										<div class="chip">
											<i class="tiny material-icons">wifi</i>
											Wi-Fiあり
										</div>
									<% end %>
									<% if @shop.smoking? %>
										<div class="chip">
											<i class="tiny material-icons">smoking_rooms</i>
											喫煙席あり
										</div>
									<% end %>
								</td>
							</tr>
							<tr>
								<th>今の混雑状況</th>
								<td>
									<% congestion = get_congestion(@shop.id) %>
									<% if congestion.present? %>
										<% if congestion.vacant? %>
											<span class="new badge blue" data-badge-caption="<%= Congestion.statuses_i18n[:vacant] %>"></span>
										<% elsif congestion.usually? %>
											<span class="new badge grey" data-badge-caption="<%= Congestion.statuses_i18n[:usually] %>"></span>
										<% elsif congestion.crowded? %>
											<span class="new badge red" data-badge-caption="<%= Congestion.statuses_i18n[:crowded] %>"></span>
										<% end %>
									<% else %>
										<span class="new badge" data-badge-caption="<%= Congestion.statuses_i18n[:usually] %>"></span>
									<% end %>
								</td>
							</tr>
							<tr>
								<th>評価</th>
								<td>
									<i class="star-rate" id="star-rate-<%= @shop.id %>"></i>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card-panel detail">
					<h6>詳細</h6>
					<div class="divider"></div>
					<span class="detail-title"><i class="tiny material-icons">location_on</i>住所</span>
					<span><%= @shop.address %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="tiny material-icons">error_outline</i>おすすめ</span>
					<span><%= @shop.pr_short %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="tiny material-icons">access_time</i>営業時間</span>
					<span><%= @shop.opentime %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="tiny material-icons">map</i>地図</span>
					<%= render partial: "map" %>
				</div>
			</div>
		</div>
	</div>
	<div class="share-links center-align">
		<div class="col l12">
			<%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@shop.name}の口コミ - カフェどっと混む&hashtags=カフェどっと混む", target: '_blank', class: "btn-social-square btn-social-square--twitter" do %>
 				<i class="fab fa-twitter"></i>
			<% end %>
			<%= link_to "http://line.me/R/msg/text/?#{@shop.name}の口コミ - カフェどっと混む%0a#{request.url}", target: '_blank', class: "btn-social-square btn-social-square--line" do %>
				<i class="fab fa-line"></i>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col l12">
			<%= render partial: "comments/form", locals: {shop: @shop} %>
			<h4 class="title">コメント（<%= @shop.comments.size %>件）</h4>
			<%= render 'comments/comments' %>
		</div>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light modal-trigger tooltipped" href="#comment-dialog" data-position="top" data-tooltip="コメントを投稿してみましょう">
		<i class="large material-icons pink">mode_edit</i>
	</a>
</div>

<script>
	$(document).ready(function(){
		$('.materialboxed').materialbox();
		$('#star-rate-<%= @shop.id %>').raty({
			size: 36,
			starOff: '/images/star_off.png',
			starOn: '/images/star_on.png',
			starHalf: '/images/star_half.png',
			score: '<%= @shop.comments.average(:rate) %>',
			half: true,
			readOnly: true,
		});
	});
	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
	});
</script>
