<div class="container">
	<div class="row">
		<div class="col l12">
			<div class="col l8 s12">
				<div class="shop">
					<h2><%= @shop.name %></h2>
					<%= image_tag shop_for(@shop), class: 'animated fadeIn' %>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card-panel teal white-text">
					<h6>お店の情報</h6>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-map-marker-alt">住所</i></span>
					<span><%= @shop.address %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-store-alt">おすすめ</i></span>
					<span><%= @shop.pr_short %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="far fa-clock">営業時間</i></span>
					<span><%= @shop.opentime %></span>
					<div class="divider"></div>
					<span class="detail-title"><i class="fas fa-map-marked-alt">地図</i></span>
					<%= render partial: "map" %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col l12 center-align">
			<%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@shop.name}", target: '_blank', class: "btn-social-square btn-social-square--twitter" do %>
 				<i class="fab fa-twitter"></i>
			<% end %>
			<%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@shop.name}", target: '_blank', class: "btn-social-square btn-social-square--facebook" do %>
				<i class="fab fa-facebook-f"></i>
			<% end %>
			<%= link_to "http://line.me/R/msg/text/?#{request.url}&text=#{@shop.name}", target: '_blank', class: "btn-social-square btn-social-square--line" do %>
				<i class="fab fa-line"></i>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col l12">
			<%= render partial: "comments/form", locals: {shop: @shop} %>
			<h4>コメント（<%= @shop.comments.size %>件）</h4>
			<%= render 'comments/comments' %>
		</div>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large cyan waves-effect waves-light pulse modal-trigger" href="#comment-dialog">
		<i class="large material-icons">mode_edit</i>
	</a>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
	});
</script>
