<h1>店詳細</h1>

<div class="nav justify-content-end">
	<%= link_to '一覧', shops_path, class: 'nav-link' %>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row"><%= Shop.human_attribute_name(:id) %></th>
      <td><%= @shop.id %></td>
    </tr>
    <tr>
      <th scope="row"><%= Shop.human_attribute_name(:name) %></th>
      <td><%= @shop.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= Shop.human_attribute_name(:address) %></th>
      <td><%= @shop.address %></td>
    </tr>
    <tr>
      <th scope="row"><%= Shop.human_attribute_name(:map) %></th>
      <td><%= @shop.map %></td>
    </tr>
    <tr>
      <th scope="row"><%= Shop.human_attribute_name(:image) %></th>
      <td><%= image_tag @shop.image if @shop.image.attached? %></td>
    </tr>
    <tr>
      <th scope="row"><%= Shop.human_attribute_name(:updated_at) %></th>
      <td><%= @shop.updated_at %></td>
    </tr>
    <tr>
      <th scope="row"><%= Shop.human_attribute_name(:created_at) %></th>
      <td><%= @shop.created_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_shop_path, class: 'btn btn-primary mr-3' %>
<%= link_to '削除', shop_path(@shop.id), method: :delete, data: { confirm: "店「#{@shop.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
