<div class="container">
	<h2>ユーザー一覧</h2>
	<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#users">一般ユーザー</a></li>
        <li class="tab col s6"><a href="#administrators">管理者</a></li>
      </ul>
    </div>
    <div id="users" class="col s12">
			<ul class="collection">
				<% @users.each do |user| %>
					<li class="collection-item avatar">
						<%= image_tag avatar_for(user), class: 'circle' %>
						<p><%= link_to user.name, user_path(user) %></p>
						<p><i class="material-icons">email</i><%= user.email %></p>
						<p><i class="material-icons">card_membership</i><%= user.created_at.strftime("%Y年%-m月%-d日") %></p>
						<%= link_to user_path(user), method: :delete, class: 'trash-btn', data: { confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？" } do %>
							<i class="material-icons">delete</i>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
    <div id="administrators" class="col s12">
			<ul class="collection">
				<% @administrators.each do |admin| %>
					<li class="collection-item avatar">
						<%= image_tag avatar_for(admin), class: 'circle' %>
						<p><%= link_to admin.name, user_path(admin) %></p>
						<p><i class="material-icons">email</i><%= admin.email %></p>
						<p><i class="material-icons">card_membership</i><%= admin.created_at.strftime("%Y年%-m月%-d日") %></p>
						<p class="secondary-content"><i class="material-icons">grade</i></p>
						<%= link_to user_path(admin), method: :delete, class: 'trash-btn', data: { confirm: "ユーザー「#{admin.name}」を削除します。よろしいですか？" } do %>
							<i class="material-icons">delete</i>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
  </div>
</div>

<script>
$(document).ready(function(){
	$('.admin-menu').addClass('active')
	$('.tabs').tabs();
});
</script>
