<nav class="breadcrumbs-container">
	<div class="nav-wrapper container">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<i class="material-icons before">home</i>HOME
			<% end %>
			<a class="breadcrumb active">プロフィール</a>
		</div>
	</div>
</nav>

<div class="container">
	<h2 class="title">プロフィール</h2>
	<div class="row">
		<div class="col s12 m6">
			<%= image_tag avatar_for(@user), alt: @user.name, class: 'avatar-large' %>
		</div>
		<div class="col s12 m6">
			<div class="row">
				<h3 class="white-text"><%= @user.name %></h3>
				<%= link_to edit_user_registration_path, class: "waves-effect waves-light btn" do %>
					<i class="fas fa-user-edit"></i>
					プロフィールを編集
				<% end %>
			</div>
			<div class="row">
				<%= @user.email %>
			</div>
		</div>
	</div>
</div>
