<div class="main">
	<div class="card devise-card">
		<div class="form-wrap">
			<div class="valign-wrapper center-align">
				<h2 class="logo-img"></h2>
			</div>
			<div class="row">
				<%= form_with url: login_path, class: 'col s12', scope: @user, local: true do |f| %>
					<div class="row">
						<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
							<%= f.email_field :email, id: 'email', class: "validate" %>
							<%= f.label :email, class: 'active' %>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-key prefix"></i>
							<%= f.password_field :password, id: 'password', class: "validate", autocomplete: "off" %>
							<%= f.label :password, class: 'active' %>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<%= button_tag '', class: "btn waves-effect waves-light login-link", type: 'submit' do %>
							ログイン
								<i class="fas fa-sign-in-alt"></i>
							<% end %>
						</div>
						<div class="input-field col s12">
							<%= link_to users_guest_sign_in_path, class: 'btn waves-effect waves-light login-link', method: :post do %>
							ゲストログイン
								<i class="fas fa-sign-in-alt"></i>
							<% end %>
						</div>
						<div class="input-field col s12 twitter-login">
							<%= link_to user_twitter_omniauth_authorize_path, class: "btn blue lighten-1 waves-effect waves-light icon", title: 'Twitterでログインする' do %>
								<i class="fab fa-twitter"></i>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col s12">
					<p class="devise-link">
						アカウントをお持ちでないですか？<%= link_to "登録する", new_user_registration_path %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
