<nav class="breadcrumbs-container">
	<div class="nav-wrapper">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<i class="material-icons before">home</i>HOME
			<% end %>
			<%= link_to 'プロフィール', user_path(@user), class: "breadcrumb" %>
			<a class="breadcrumb active">【管理者】プロフィール編集</a>
		</div>
	</div>
</nav>

<%= render 'layouts/error_messages', model: @user %>

<div class="container">
	<h2 class="title">【管理者】プロフィール編集</h2>
	<div class="main">
		<div class="card devise-card">
			<div class="form-wrap">
				<div class="row">
					<div class="col s12">
						<div class="form-wrap">
							<%= form_with url: admin_user_path(@user), method: :put, scope: @user, local: true do |f| %>
								<%= render partial: 'users/registrations/form', locals: {f: f, user: @user} %>
							<% end %>
							<%= link_to admin_users_path, class: "btn waves-effect waves-light login-link teal" do %>
								<i class="material-icons right">keyboard_return</i>
								キャンセル
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){
		$('form').on('change', 'input[type="file"]', function(e){
			var file = e.target.files[0],
				reader = new FileReader(),
				$preview = $(".preview");
			t = this;

			if(file.type.indexOf("image") < 0){
				return false;
			}

			reader.onload = (function(file){
				return function(e){
					$preview.empty();
					$preview.append($('<img>').attr({
						src: e.target.result,
						class: "preview avatar-large",
						title: file.name
					}));
				};
			})(file);

			reader.readAsDataURL(file);
		});
	});
</script>
