<!DOCTYPE html>
<html>
  <head>
    <title>Cafedotcom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

		<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

		<%= render "partial/navbar" %>

		<div class="container">
			<% if flash[:notice] %>
				<div class="alert alert-info">
					<%= flash[:notice] %>
				</div>
			<% end %>
			<% if flash[:alert] %>
				<div class="alert alert-danger">
					<%= flash[:alert] %>
				</div>
			<% end %>
			<%= yield %>
			<a type="button" class="btn-pen" data-toggle="modal" data-target="#exampleModal">
				<i class="fas fa-pen"></i>
			</a>
		</div>
		<%= render "partial/footer" %>
  </body>
</html>
