<!DOCTYPE html>
<html>
  <head>
    <title>Cafedotcom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap" %>
    <%= stylesheet_link_tag "https://unpkg.com/swiper/css/swiper.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://unpkg.com/swiper/js/swiper.min.js" %>
  </head>
  <body>
    <div id="wrapper">
      <%= render "layouts/navbar" %>
      <% if flash.notice.present? %>
        <div class="alert alert-info">
          <%= flash.notice %>
        </div>
      <% end %>
      <% if flash.alert.present? %>
        <div class="alert alert-danger">
          <%= flash.alert %>
        </div>
      <% end %>
      <div>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
    <%= render "layouts/second_header" %>
  </body>
</html>
