<!DOCTYPE html>
<html>
  <head>
    <title>Cafedotcom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/css/swiper.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.bootcdn.net/ajax/libs/loaders.css/0.1.2/loaders.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.8/js/swiper.min.js' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js' %>
  </head>
  <body>
    <div>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/toast' %>
      <div>
        <div id="page-loading">
          <div id="pageloading-icon" class="ball-pulse-sync">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
    <div id="page_top"><a href="#"></a></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
